.weatherhighlights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00bbf0;
    color: black;
    border: 2px solid #fdb44b;
    cursor: pointer;
    height: 2rem;
    width: 100%;
    border-radius: 4px;
    z-index: 50;

}
.moreForecast{
    background-color: #F0F0F0;
    color: blueviolet;
    border-radius: 4px;
    border: 2px solid #fdb44b;

}
.forecastContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
